# Perf counters group 1
pmc : VALUUtilization VALUBusy SALUBusy ALUStalledByLDS LDSBankConflict
kernel: @KERNEL@


pmc : TCC_HIT_sum TCC_MISS_sum L2CacheHit MemUnitBusy MemUnitStalled WriteUnitStalled
kernel: @KERNEL@

pmc : GDSInsts LDSInsts SALUInsts VALUInsts GPUBusy
kernel: @KERNEL@
